# Python
__pycache__/
*.py[cod]
*$py.class
extract.py
models.py

# Virtual environments
.venv/
venv/
ENV/
env/

# dotenv environment variables file
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Logs
*.log

# Google credentials
*.json

# Poetry
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/